### Missing Value imputation

Dataset might contain missing values. In datasets, missing values could be represented as '?', 'nan', 'N/A', blank cell, or sometimes '-999', 'inf', '-inf'.

There are various ways that we can handle missing values. These are:

1. Drop the column altogether when there is very high number of elements are missing (Ex: 70%)
2. Drop the row if most of the entries are missing. However this can be done for a big data set. Also if such rows exists very less (Ex: <5%)
3. Replace missing value with 0 or any constant value. However, this is very case specific and has to present in a relatively small size
3. Missing value imputation with mean, median (With numerical variable) and mode (with categorical variable). However, This technique can be implemented when the amount of missing value is roughly between 10% - 20% max. This technique does not consider correlations between features.Hence, if the number of missing value in the column is high and we use this technique, we actually implement biasness in the data
4. Regression imputation - Mean,Median and Mode does not consider other columns. Hence, if we know that features are dependant and there is a correlation between the missing value and other variables, we can often get better guesses by a linear regression
5. K-nearest neighbour or KNN imputation
6. Imputation Using Multivariate Imputation by Chained Equation (MICE) or Iterrative imputer

### KNN imputation

In [54]:
import numpy as np
import pandas as pd

In [55]:
from sklearn.impute import KNNImputer

In [56]:
#create dataset
a = {'First':[100,90,np.nan,95],
    'Second':[30,45,41,np.nan],
    'Third': [np.nan,40,80,99]}

In [57]:
# create dataframe
df = pd.DataFrame(a)

In [58]:
df.head()

   First  Second  Third
0  100.0    30.0    NaN
1   90.0    45.0   40.0
2    NaN    41.0   80.0
3   95.0     NaN   99.0

In [59]:
imputer = KNNImputer(n_neighbors=2)

In [60]:
df1 = imputer.fit_transform(df)

In [61]:
df1

array([[100. ,  30. ,  89.5],
       [ 90. ,  45. ,  40. ],
       [ 97.5,  41. ,  80. ],
       [ 95. ,  35.5,  99. ]])

In [62]:
df1 = pd.DataFrame(df1,columns=['First','Second','Third'])

In [63]:
df1.head()

   First  Second  Third
0  100.0    30.0   89.5
1   90.0    45.0   40.0
2   97.5    41.0   80.0
3   95.0    35.5   99.0